
/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: #000000;
}

.flex {
  display: flex;
}

.interface {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-contato button{
  padding: 10px 40px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #fff;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  transition: .2s;
}

.btn-contato button:hover {
  box-shadow: 0 0 8px  #2f47cf;
  background-color: #2f47cf;
  transform: scale(1.05);
}

/* Estilho cabeçalho */

header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #545454;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  transition: .2s;
}

header a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}


/* Estilo topo do site */

section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site .txt-topo-site h1 {
  font-size: 42px;
  color: #fff;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #2f47cf;
}

.topo-do-site .txt-topo-site p {
  color: #c7c7c7;
  font-size: 1.2rem;
  margin: 40px 0 ;
  line-height: 30px;
}

.topo-do-site .img-topo-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top:0;
  }
  100% {
    top:30px;
  }
}